$search-border: .063rem solid #b1afaf;
$search-border-radius: .25rem;

$movie-card-short-background-color: rgba(216, 216, 216, 0.14);

//media queries
$table-max-width: 960px;
$large-phone-max-width: 767px;