@import './src/scss/variables';

.component {
	text-align: center;

	.content {
		position: relative;
		max-width: 25rem;

		.inputWrap {
			position: relative;

			input {
				padding: 0.5rem 2rem 0.5rem 1rem;
				width: 100%;
				border: $search-border;
				border-radius: $search-border-radius;
			}

			.loadIndicatorOuter {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				height: 100%;
			}

			&:hover,
			&:focus-within {
				color: #000;

				& + * {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&:hover,
		&:focus-within {
			.inputWrap {
				:global input.show-results {
					outline: none;
					border-radius: $search-border-radius $search-border-radius 0 0;
				}
			}
		}
	}
}
