@import './src/scss/variables';

.component {
	background-color: #f1f1f1;
	margin-bottom: 2rem;
	padding: 1.5rem 0;

	.logoOuter {
		@media all and (max-width: $large-phone-max-width) {
			width: 100%;
			flex-basis: 100%;
			text-align: center;
			margin-bottom: 1rem;
		}
	}

	.searchOuter {
		@media all and (min-width: $large-phone-max-width + 1) {
			margin-left: 2rem;
		}
		@media all and (max-width: $large-phone-max-width) {
			width: 100%;
			flex-basis: 100%;

			:global div[class^='Search_content'] {
				margin: 0 auto;
				max-width: 18.75rem;
			}
		}
	}
}
