@import './src/scss/variables';

.component {
	text-align: left;
	padding: 1rem;
	border-bottom: 0.063rem solid #d2cbcb;
	background-color: $movie-card-short-background-color;
	color: #000;
	text-decoration: none;

	&:nth-last-of-type(1) {
		border-bottom: none;
	}
	&:hover {
		background-color: darken($movie-card-short-background-color, 20%);
	}
	.poster {
		flex-basis: 2rem;
	}
	.info {
		flex: 1;
		padding: 0 0.75rem;

		.title {
			font-weight: bold;
		}
		.year {
			font-size: 0.8rem;
			color: grey;
		}
	}
}
